<!DOCTYPE html>
    head
        link(href="styles/main.css", rel="stylesheet")
        link(href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;1,700&display=swap" rel="stylesheet")
    body
        include sections/main-screen.pug
        include sections/about-us
        include sections/portfolio
        .our-team
            .container
                h5.our-team__title our team.
                p.our-team__text They are big but still friendly.
                .our-team__container
                    .our-team__joey
                        .our-team__joey-left 
                        .our-team__joey-right
                            h4.our-team__joey-right-title Joey
                            h6.our-team__joey-right-subtitle Web developer
                            p.our-team__joey-right-text Coffee lover.  Always on bike. iPhone fan.
                    .our-team__matt
                        .our-team__matt-left
                        .our-team__matt-right
                            h4.our-team__joey-right-title Matt
                            h6.our-team__joey-right-subtitle Web designer
                            p.our-team__joey-right-text MTB Biker. Photoshop Master. Loving Father.
                    .our-team__mike
                        .our-team__mike-left
                        .our-team__mike-right
                            h4.our-team__joey-right-title Mike
                            h6.our-team__joey-right-subtitle Copywriter
                            p.our-team__joey-right-text Drummer. Soup lover. Beer Drinker. Cyclist.
