.about-us
    .container.about-us__container
        .about-us__snippets
            h5.about-us__snippets-title Peace of Mind.
            p.about-us__snippets-subtitle You’re safe with us. The privacy and security of your financial information is our top priority.
        .about-us__snippets    
            h5.about-us__snippets-title Free. Actually free
            p.about-us__snippets-subtitle No more pricing grids. No more fine print. Sending and receiving cash is free without gimmicks.
        .about-us__snippets    
            h5.about-us__snippets-title Simple payments.
            p.about-us__snippets-subtitle The same debit card you use to buy coffee lets deposit money straight to your bank account.