.main-screen
    .container
        h2.main-screen__slogan intelligence is nothing without ambition 
        span.design 4554
        p.main-screen__subtitle We’re small but impressive creative agency.
        .main-screen__button READ MORE