.portfolio
    .container.portfolio__container
        .portfolio__left
        .portfolio__right
            h1.portfolio__right-title portfolio
                span.design .
            h5.portfolio__right-subtitle We are small, but strong team
            p.portfolio__right-text No more pricing grids. No more fine print. Sending and receiving cash is free without gimmicks.
            p.portfolio__right-text The same debit card you use to buy coffee lets deposit money straight to your bank account.
